@font-face {
  font-family: appFontSemi;
  src: url(./assets/fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: appFont;
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: calligraphy;
  src: url(./assets/fonts/lucida-calligraphy-italic.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.welcome-icon {
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
}

.nav-list-item a {
  color: darkblue;
  text-decoration: none;
  font-family: appFontSemi;
  font-size: 1.2rem;
}

.nav-list-item a:hover {
  opacity: 0.8;
}

.nav-list-item:last-child a {
  background: darkblue;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
}

#main {
  margin-top: 3rem;
}

#animation-section {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  column-gap: 5rem;
}

#profile-image {
  width: 22rem;
  height: 22rem;
  border-radius: 50% 0 50% 0%;
  object-fit: cover;
  box-shadow: 2px 2px 10px -4px black;
}

#animation-container {
  font-family: calligraphy;
  font-size: 3.5rem;
  color: peru;
  font-weight: bold;
  margin-top: 6rem;
  text-shadow: 1px 1px 1px black;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  font-family: appFont;
  background: darkblue;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 320' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' fill-opacity='1' d='M0,96L48,122.7C96,149,192,203,288,197.3C384,192,480,128,576,112C672,96,768,128,864,122.7C960,117,1056,75,1152,53.3C1248,32,1344,32,1392,32L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 2rem;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  font-size: 2rem;
  margin-top: 18rem;
}

.svg-icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: white;
}

.wavy-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  fill: darkblue;
  width: 100%;
  height: 100%;
}

.about-content {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

#resume-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#resume-btn {
  outline: none;
  border: none;
  background: darkblue;
  color: white;
  border-radius: 20px;
  color: white;
  font-family: appFont;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#download-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
}

#resume-btn:hover {
  opacity: 0.8;
  border-radius: 10px;
  transition: all 0.25s;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  font-family: appFont;
  padding: 0 4rem;
}

#skills-head {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  font-size: 2rem;
  color: peru;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

#skills-icon {
  width: 2rem;
  height: 2rem;
  fill: peru;
}

#skills-text {
  font-size: 1.1rem;
}

#skills-list {
  width: 100%;
  display: grid;
  list-style-type: none;
  grid-template-columns:
    calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem)
    calc(25% - 0.75rem);
  justify-content: center;
  column-gap: 1rem;
  row-gap: 2rem;
  margin: 2rem 0;
  padding: 0;
}

.skill-item {
  background: linear-gradient(to bottom right, peru 85%, darkblue);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: -1px -1px 10px -6px black;
  position: relative;
}

.tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkblue;
  color: white;
  border-radius: 10px;
  box-shadow: -1px -1px 10px -6px black;
  display: none;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  animation: slideSide 0.3s ease-in-out 0s 1 normal both;
}

.skill-item:hover .tag {
  display: flex;
}

#projects {
  background: linear-gradient(to bottom right, darkblue, peru);

  /* background: darkblue; */
  width: 100%;
  font-family: appFont;
  padding: 3rem;
  margin: 8rem 0 0;
}

#project-head {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  font-size: 2rem;
  color: white;
  margin: 0 0 5rem;
}

#project-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

#projects-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  column-gap: 3%;
  row-gap: 3rem;
}

.project {
  border-radius: 5px;
  box-shadow: 2px 2px 20px -5px black;
  background: peru;
  padding-bottom: 0.5rem;
  cursor: pointer;
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-data {
  position: relative;
  height: 23rem;
}

.front-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.project-img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-bottom: 0.5rem;
}

.project-name {
  font-family: appFontSemi;
  font-size: 1.15rem;
  padding: 1rem 1rem 0;
}

.project-description {
  padding: 0 1rem;
  margin: 0.5rem 0 1rem;
}

.project-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.code-btn {
  width: 50%;
  outline: none;
  border: none;
  background: none;
  color: darkblue;
  font-family: appFontSemi;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  border-right: 1px solid darkblue;
  transition: all 0.25s;
}

.site-btn {
  color: darkblue;
  width: 50%;
  outline: none;
  border: none;
  background: none;
  font-family: appFontSemi;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0 0 5px 0;
  cursor: pointer;
  transition: all 0.25s;
  border-left: 1px solid darkblue;
}

.site-btn:hover,
.code-btn:hover {
  opacity: 0.8;
}

.github-icon,
.web-icon {
  width: 1rem;
  height: 1rem;
  fill: darkblue;
  color: darkblue;
  margin-right: 0.3rem;
}

.site-btn a,
.code-btn a {
  color: darkblue;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  display: none;
  flex-direction: column;
  color: white;
  /* text-shadow: 1px 1px 1px black; */
  animation: slideDown 0.25s ease-in-out 0s 1 normal both;
  background: peru;
}

.project-img2 {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.tools-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
}

.tools-list {
  display: flex;
  margin: 0.5rem 0 0;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1.7rem;
}

.project:hover .back-details {
  display: flex;
}

#download-link {
  color: white;
  text-decoration: none;
}

#gallery-section {
  display: none;
  flex-direction: column;
  align-items: center;
  font-family: appFont;
  margin-bottom: 5rem;
  overflow: hidden;
  white-space: nowrap;
}

#gallery {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scroll-behavior: smooth;
  /* animation: galleryAnimation 30s linear 0s infinite normal both; */
  padding: 0 1rem;
}

#gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#gallery-head {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;
  font-size: 2rem;
  color: darkblue;
  margin-bottom: 4rem;
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px -3px black;
  transition: all 0.3s;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-image {
  width: 20rem;
  object-fit: cover;
  aspect-ratio: 4/3;
}

#gallery-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  fill: darkblue;
}

#contact {
  background: darkblue;
  padding: 60px 20px 0;
  text-align: center;
  font-family: appFont;
  color: white;
  /* margin-top: 10rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-info {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#contact-info li {
  margin: 0 0.5rem;
}

.contact-icon {
  width: 2rem;
  height: 2rem;
  fill: white;
}

#hr {
  width: 100%;
}

#footer {
  border-top: 1px solid white;
  background: darkblue;
  text-align: center;
  color: white;
  font-family: appFontSemi;
  padding: 1rem 2rem 1.5rem;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem 2rem;
  overflow: auto;
  user-select: none;
}

#lightbox-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#close-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.3rem;
  transition: all 0.25s;
  margin-left: auto;
  margin-right: 1rem;
}

#close-icon {
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}

#close-icon-box:hover {
  background: darkblue;
}

#figure {
  position: relative;
}

#img {
  width: 100%;
  height: 25rem;
  border-radius: 10px;
  object-fit: cover;
}

#prev-arrow-box,
#next-arrow-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 44%;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

#prev-arrow-box {
  left: -20%;
}

#next-arrow-box {
  right: -20%;
}

#prev-arrow,
#next-arrow {
  width: 0.75rem;
  height: 1.125rem;
  transform: scale(1);
  stroke-width: 3px;
}

#prev-arrow-path,
#next-arrow-path {
  stroke: darkblue;
}

#prev-arrow-box:hover,
#next-arrow-box:hover {
  background: darkblue;
}

#prev-arrow-box:hover #prev-arrow-path,
#next-arrow-box:hover #next-arrow-path {
  stroke: white;
}

#thumbnail-div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  overflow: auto;
}

.thumbnail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid transparent;
}

.thumbnail-img {
  width: 10rem;
  height: 6rem;
  object-fit: cover;
}

.thumbnail-box:hover {
  opacity: 0.8;
}

.active-thumbnail {
  border: 3px solid peru;
}

.show {
  display: flex !important;
  animation: fadeAnimation 0.3s ease-in-out;
}

#slide-pagination {
  color: darkblue;
  position: absolute;
  top: 1%;
  left: 1%;
  background: rgba(255, 255, 255, 0.8);
  font-family: appFontSemi;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  z-index: 2;
}

#menu-div {
  position: relative;
  padding: 0 0.5rem;
  display: none;
}

#menu-icon {
  width: 2rem;
  height: 2rem;
  fill: black;
  cursor: pointer;
}

#menu-icon:hover {
  color: darkblue;
}

#menu-list {
  z-index: 2;
  position: absolute;
  list-style-type: none;
  top: 110%;
  left: -160%;
  background: white;
  box-shadow: 2px 2px 10px -4px black;
  border-radius: 5px;
  color: darkblue;
  margin: 0;
  display: none;
  padding: 0;
}

#menu-div:hover #menu-list {
  display: block;
}

#menu-list li a {
  color: darkblue;
  text-decoration: none;
  font-family: appFontSemi;
  padding: 0.6rem 1.5rem;
  display: block;
}

#menu-list li:first-child a,
#menu-list li:first-child {
  border-radius: 5px 5px 0 0;
}

#menu-list li:last-child a,
#menu-list li:last-child {
  border-radius: 0 0 5px 5px;
}

#menu-list a:hover {
  background: darkblue;
  color: white;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideSide {
  from {
    opacity: 0;
    transform: rotateY(270deg);
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes galleryAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Media Queries */

@media screen and (max-width: 1100px) {
  #animation-container {
    font-size: 3rem;
    margin-top: 5rem;
  }

  #projects {
    padding: 3rem 2rem;
  }

  #projects-container {
    grid-template-columns: 32% 32% 32%;
    column-gap: 1.3%;
  }

  #lightbox-container {
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {
  #animation-container {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  #profile-image {
    width: 19rem;
    height: 19rem;
  }

  #projects {
    padding: 3rem 2rem;
  }

  #projects-container {
    grid-template-columns: 45% 45%;
    column-gap: 2.5%;
  }

  #animation-section {
    column-gap: 4rem;
  }

  #lightbox-container {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  #lightbox-container {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  #animation-container {
    font-size: 2rem;
    margin-top: 3rem;
  }

  #profile-image {
    width: 16rem;
    height: 16rem;
  }

  #projects {
    padding: 3rem 1rem;
  }

  #animation-section {
    column-gap: 2rem;
  }

  .gallery-image {
    width: 18rem;
  }

  #lightbox-container {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  #animation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 0;
  }

  #profile-image {
    order: 1;
    width: 100%;
    height: 20rem;
  }

  #animation-container {
    order: 2;
    height: 10rem;
  }

  #skills {
    padding: 0 2rem;
  }

  #skills-list {
    grid-template-columns: calc(33% - 0.7rem) calc(33% - 0.7rem) calc(
        33% - 0.7rem
      );
    justify-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
  }

  #projects {
    padding: 3rem 0;
  }

  #projects-container {
    grid-template-columns: 60%;
    column-gap: 0;
  }

  .header {
    padding: 1.5rem 0.5rem;
  }

  .gallery-image {
    width: 15rem;
  }

  #lightbox-container {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  #animation-section {
    display: flex;
    padding: 0 1rem;
  }

  #profile-image {
    width: 100%;
  }

  .nav-list-item {
    margin: 0 1rem;
  }

  .section-head {
    margin-top: 20rem;
  }

  .skill-item {
    padding: 1.5rem 1rem;
    font-size: 1rem;
  }

  #projects-container {
    grid-template-columns: 70%;
  }

  .gallery-image {
    width: 15rem;
  }

  #lightbox {
    padding: 1rem 0 2rem;
  }

  #thumbnail-div {
    padding: 0 0.5rem;
  }

  #lightbox-container {
    width: 80%;
  }

  #prev-arrow-box,
  #next-arrow-box {
    padding: 0.6rem;
  }

  #prev-arrow-box {
    left: -15%;
  }

  #next-arrow-box {
    right: -15%;
  }
}

@media screen and (max-width: 500px) {
  .nav-list-item {
    margin: 0 0.5rem;
  }

  .nav-list-item a {
    font-size: 1rem;
  }

  .header {
    padding: 1.5rem 0;
  }

  .nav-list-item:last-child a {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .welcome-icon {
    font-size: 1.6rem;
  }

  #profile-figure {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #animation-container {
    height: 12rem;
  }

  .section-head {
    margin-top: 25rem;
  }

  .about-content {
    padding: 0 1rem;
    font-size: 1rem;
  }

  #skills {
    padding: 0 1rem;
  }

  #skills-list {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 2rem;
  }

  #projects-container {
    grid-template-columns: 82%;
  }

  #lightbox-container {
    width: 90%;
  }

  #prev-arrow-box,
  #next-arrow-box {
    padding: 0.5rem;
  }

  #prev-arrow-box {
    left: -10%;
  }

  #next-arrow-box {
    right: -10%;
  }

  #prev-arrow,
  #next-arrow {
    width: 0.7rem;
    height: 1rem;
    transform: scale(0.9);
    stroke-width: 2.5px;
  }
}

@media screen and (max-width: 400px) {
  .nav {
    display: none;
  }

  #projects-container {
    grid-template-columns: 95%;
  }

  #menu-div {
    display: flex;
  }

  .gallery-image {
    width: 13rem;
  }

  #lightbox-container {
    width: 100%;
  }
}
